*{
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

a{
    text-decoration: none !important;
}

p, a, ::placeholder, option, button{
    font-family: 'Poppins', sans-serif;
}

.span{
    font-family: 'Poppins', sans-serif;
}

.padrr{
    max-width: 1440px;
    margin: auto;
}

.navbar{
    max-width: 1440px;
    margin: auto;
}

button{
    outline: none;
}


@media (min-width: 200px) and (max-width: 320px) {
    nav{
        display: none;
    }
    .mobile-nav{
        display: block;
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }
    .bottom-nav{
        display: block;
        z-index: 9999;
    }
    .hide-section{
        display: none;
    }
    .marr{
        margin: 0 10px;
    }
    .search-bar{
        width: 120px;
    }
    .blo-ck{
        display: block;
    }
    .post-button{
        margin-top: 20px;
    }
    .padrr{
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }
    .sec-row{
        margin-top: 10px;
    }
    .submit-button{
        margin: 20px 0;
    }
    .note-text{
        margin-left: 0rem;
        margin-right: 2rem;
        margin-top: 20px;
    }
    .full-width{
        width: 100%;
    }
    .card{
        margin: 20px 0;
    }
    .message-button{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .postajob-button{
        margin: 40px 0.75rem;
    }
    .search-button{
        margin: 20px 0.75rem;
    }
    .top-profile{
        margin-bottom: 30px;
        padding-left: 1rem;
        padding-right: 0rem;
    }
    .icons{
        justify-content: center;
    }
    .icon{
        margin: 20px;
    }
    .middle{
        margin: 0 auto;
    }
    .shopsaved{
        margin: 0 0.5rem
    }
    .cart{
        margin: 0 0.5rem
    }
    .tabs{
        max-width: 270px;
        overflow-x: scroll;
        margin: 20px auto;
    }
    .ctrl{
        margin: 40px 0;
    }
    .blog-card{
        margin: 0 auto;
    }
}

@media (min-width: 321px) and (max-width: 500px) {
    nav{
        display: none;
    }
    .mobile-nav{
        display: block;
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }
    .bottom-nav{
        display: block;
        z-index: 9999;
    }
    .hide-section{
        display: none;
    }
    .marr{
        margin: 0 10px;
    }
    .search-bar{
        width: 150px;
    }
    .blo-ck{
        display: block;
    }
    .post-button{
        margin-top: 20px;
    }
    .padrr{
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }
    .sec-row{
        margin-top: 10px;
    }
    .submit-button{
        margin: 20px 0;
    }
    .note-text{
        margin-left: 0rem;
        margin-right: 2rem;
        margin-top: 20px;
    }
    .full-width{
        width: 100%;
    }
    .card{
        margin: 20px 0;
    }
    .message-button{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .postajob-button{
        margin: 40px 0.75rem;
    }
    .search-button{
        margin: 20px 0.75rem;
    }
    .top-profile{
        margin-bottom: 30px;
        padding-left: 1rem;
        padding-right: 0rem;
    }
    .icons{
        justify-content: center;
    }
    .icon{
        margin: 25px;
    }
    .middle{
        margin: 0 auto;
    }
    .shopsaved{
        margin: 0 0.5rem
    }
    .cart{
        margin: 0 0.5rem
    }
    .tabs{
        overflow-x: scroll;
        margin: 20px auto;
    }
    .ctrl{
        margin: 40px 0;
    }
    .blog-card{
        margin: 0 auto;
    }
}

@media (min-width: 500px) and (max-width: 1000px) {
    nav{
        display: none;
    }
    .mobile-nav{
        display: block;
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }
    .bottom-nav{
        display: block;
        z-index: 9999;
    }
    .hide-section{
        display: none;
    }
    .marr{
        margin: 0 10px;
    }
    .search-bar{
        width: 150px;
    }
    .blo-ck{
        display: block;
    }
    .post-button{
        margin-top: 20px;
    }
    .padrr{
        padding-left: 1.0rem;
        padding-right: 1.0rem;
    }
    .sec-row{
        margin-top: 10px;
    }
    .submit-button{
        margin: 20px 0;
    }
    .note-text{
        margin-left: 0rem;
        margin-right: 2rem;
        margin-top: 20px;
    }
    .full-width{
        width: 100%;
    }
    .card{
        margin: 20px 0;
    }
    .message-button{
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .postajob-button{
        margin: 40px 0.75rem;
    }
    .search-button{
        margin: 20px 0.75rem;
    }
    .top-profile{
        margin-bottom: 30px;
        padding-left: 1rem;
        padding-right: 0rem;
    }
    .icons{
        justify-content: center;
    }
    .icon{
        margin: 30px;
    }
    .middle{
        margin: 0 auto;
    }
    .blog-card{
        max-width: 500px;
        margin: 0 auto;
    }
    
}
